.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.titulo {
  text-align: center;
  width: 100%;
  margin: 0;
}


